<div class="card" id="card" style="width: 18rem;">

  <form action="/" method="POST">
    <div class="confirm">
      <label for="title"></label>
      <textarea class="form-control h-25 d-inline-block" name="taskpanel[title]" id="title" rows="1" placeholder="Enter a title"></textarea>
    </div>
    <div class="confirm">
      <label for="task"></label>
      <textarea class="form-control h-50 d-inline-block" name="taskpanel[task]" id="task" rows="5" placeholder="Enter a task"></textarea>
    </div>
    <div class="confirmbtn">
      <h5>Comfirm your task!</h5>
      <button class="btn btn-primary">Confirm!</button>
    </div>
  </form>
</div>