<div class="card" id="addCard" style="width: 18rem;">

  <form action="/userpanel" method="POST" class="validAddForm" novalidate>
    <div class="confirm">
      <label for="title"></label>
      <textarea class="form-control h-25 d-inline-block" name="taskpanel[title]" id="title" rows="1" placeholder="Enter a title" required></textarea>
    </div>
    <div class="confirm">
      <label for="task"></label>
      <textarea class="form-control h-50 d-inline-block" name="taskpanel[task]" id="task" rows="5" placeholder="Enter a task" required></textarea>
    </div>
    <div class="confirm">
      <label for="colorBorder"></label>
      <div><input type="color" class="btn" name="taskpanel[colorBorder]" id="colorBorder">Chose a border color... </div>
    </div>
    <div class="confirmbtn">
      <button class="btn btn-primary" style="margin: 0.15rem; margin-top: 0.35rem">Add this card</button>
      <input type="button" class="btn btn-secondary" value="Cancel" onclick="refreshPage()" style="margin: 0.15rem;">
    </div>
  </form>
</div>