<div class="card" id="card" style="width: 18rem;">
  <div class="">
    <form action="/" method="POST">
      <label for="task"></label>
      <input type="text" id="task" name="taskpanel[title]" placeholder="Enter a title">
  </div>

  <br>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <label for="task"></label>
      <input type="text" id="task" name="taskpanel[task]" placeholder="Enter a task">
    </li>
    <li class="list-group-item">
      <label for="task"></label>
      <input type="text" id="task" name="taskpanel[task]" placeholder="Enter a task">
    </li>
    <li class="list-group-item">
      <label for="task"></label>
      <input type="text" id="task" name="taskpanel[task]" placeholder="Enter a task">
    </li>
  </ul>
  <div>
  </div>
  <h2>Comfirm your choise!</h2>
  <button class="btn btn-primary">Confirm!</button>
  </form>
</div>