<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm ps-3 h3">
  <a class="navbar-brand text-white" href="http://localhost:3000/">
    <h3>todoCard</h3>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse h5">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><span class="sr-only">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/completed">Completed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deleted">Deleted</a>
      </li>
    </ul>
    <div class="nav justify-content-end ms-auto pe-3">
      <% if (!currentUser) {%>
      <button class="btn btn-outline-secondary" onclick="window.location.href='http://localhost:3000/register';">
        Register
      </button>
      <button class="btn btn-outline-secondary" onclick="window.location.href='http://localhost:3000/login';">
        Login
      </button>
      <% } else { %>
      <div class="wBack">
        <h5>Welcome back, <a style="outline: 0;" href="/userpanel"><%= currentUser.username %>!</a></h5>
      </div>
      <button class="btn btn-outline-secondary" onclick="window.location.href='http://localhost:3000/logout';">
        Logout
      </button>
      <% } %>
    </div>
  </div>
</nav>