<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Not found</title>
</head>

<body>
  <div class="container">
    <img src="https://mediaron.com/wp-content/uploads/2020/09/404-facebook.jpg" alt="">
  </div>
</body>

</html>