h1 {
    color: white;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
    margin-left: 1rem;
    font-size: xx-large;
    font: bold
}

br {
    border: 2px solid black;
    color: black;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: white;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link .active {
    color: rgba(246, 28, 28, 0.5);
}

.card {
    height: 22rem;
    border: solid 5px;
    margin: 1rem;
    width: 18rem;
    transition: 0.2s;
}

.card:hover {
    transition: 0.2s;
    box-shadow: 0 0px 10px #000000;
}

#addCard {
    display: none;
}

#addBtn {
    width: 18rem;
    border: solid 5px;
    height: 22rem;
    font-size: 100px;
    margin: 1rem;
    background-color: gray;
    border-color: black;
    transition: 0.2s;
}

#addBtn:hover {
    transition: 0.2s;
    box-shadow: 0 0px 10px #000000;
}

.confirm {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding: 0.5rem 0.5rem;
    border-bottom: 0.1rem solid;
}

.valueTitle {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding: 0.95rem 0.5rem;
    border-bottom: 0.1rem solid;
    font-weight: 900;
    font-size: large;
}

.valueTask {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding: 0.95rem 0.5rem;
    border-bottom: 0.1rem solid;
    height: 14rem;
}

.confirmbtn {
    display: flex;
    flex-direction: column;
}

.form-control {
    border: 1px solid #000000;
}

.mngBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.7rem;
}

#confirmChgBtn {
    display: flex;
    flex-direction: column;
}

.wBack {
    display: flex;
    align-self: center;
    color: white;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

a {
    outline: 0;
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
}